    /* GENERALI */

* {
    margin: 0; /* Rimuove i margini predefiniti */
    padding: 0; /* Rimuove il padding predefinito */
    box-sizing: border-box; /* Include il padding e i bordi nelle dimensioni degli elementi */
  }

.container {
    max-width: 900px; /* Larghezza massima */
    margin: 0 auto; /* Centra il contenitore */
    padding: 0 20px
  }

.debug {
  border: 2px dotted #ff0000;
  background-color: rgba(255, 0, 0, 0.5);
}

#a {
  text-decoration: none;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-flex-small {
  display: flex;
  justify-content: center;
  align-items: center;
  }


    /* UTILITY */


    /* BODY */
body {
    font-family: Arial, sans-serif; /* Font predefinito */
}

    /* HEADER */
header {
  background-color: #add8e7;
  height: 265px;
}

.navbar {
  height: 60px;
}

.navbar > * {
  flex-basis: 20%;
  padding: 10px 0;
  background-color: gold;
}

.nav-link {
  text-decoration: none;
  flex-grow: 1;
  text-align: center;
}

.nav-logo {
  text-align: left;
}

.nav-button {
  text-align: right;
}

.bootstrap {
  background-color: #0400ff;
  height: 200px;
}

.bootstrap-content {
  background-color: rgb(230, 137, 153);
  width: 50%;
  height: 100%;
}


    /* MAIN */



    /* FOOTER */