    /* GENERALI */

* {
    margin: 0; /* Rimuove i margini predefiniti */
    padding: 0; /* Rimuove il padding predefinito */
    box-sizing: border-box; /* Include il padding e i bordi nelle dimensioni degli elementi */
  }

.container {
    max-width: 900px; /* Larghezza massima */
    margin: 0 auto; /* Centra il contenitore */
    padding: 0 20px;
  }

.debug {
  border: 2px dotted #ff0000;
  background-color: rgba(255, 0, 0, 0.5);
}

a {
  text-decoration: none;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-flex-small,
.flex-container > main {
  display: flex;
  justify-content: center;
}

.odd-container {
  background-color: #ffffff;
  padding: 15px 20px;
}

.even-container {
  flex-direction: row-reverse;
  padding: 15px 20px;
}

.column-container {
  flex-direction: column;
}

    /* UTILITY */
 .grey-container {
  background-color: grey;
}

.darkgrey-container {
  background-color: #23272a;
}
.border {
  border: 2px dashed black;
}

.white-border {
  border: 2px dashed #ffffff;
}

.solid-border {
  border-bottom: 2px solid #ffffff;
}

.azure-section {
  background-color: #1e90ff;
  height: 200px;
  padding: 10px 0;
  flex-basis: 60%;
  padding: 10px 0;
}

.pink-section {
  background-color: #ffc0ca;
  height: 200px;
  padding: 10px 0;
  flex-basis: 40%;
  padding: 10px 0;
}

.green-section {
  background-color:#218b21;
  height: 550px;
  padding: 10px 0;
  flex-basis: 100%;
  padding: 10px 0;
}

.darkpink-section {
  background-color: #f08180;
  height: 300px;
  flex-basis: 30%;
  padding: 10px 0;
  flex-grow: 1;
}

.aquamarine-section {
  background-color: #20b3aa;
  height: 300px;
  padding: 10px 0;
  flex-basis: 25%;
  flex-grow: 1;
}

    /* BODY */
body {
    font-family: Arial, sans-serif; /* Font predefinito */
}

    /* HEADER */
header {
  background-color: rgb(37, 150, 190);
  height: 265px;
}

.navbar {
  height: 60px;
}

.navbar > * {
  flex-basis: 20%;
  padding: 10px 0;
  background-color: #daa51e
}

.nav-link {
  text-decoration: none;
  flex-grow: 1;
  text-align: center;
}

.nav-logo {
  text-align: left;
}

.nav-button {
  text-align: right;
}

.bootstrap {
  background-color: #00018b;
  height: 200px;
  padding: 10px 0;
}

.bootstrap-content {
  background-color: #ef82ed;
  width: 50%;
  height: 100%;
  /* height va tolto una volta che c'è il contenuto */
}

/* FOOTER */
footer {
  background-color: #23272a;
}

.footerbar {
  height: 60px;

}
.login-button {
  background-color: #7fffd4;
  flex-grow: 1;
  text-align: left;
  padding: 10px 0;
}

.bottone-button {
  background-color: #7fffd4;
  flex-grow: 1;
  text-align: right;
  padding: 10px 0;
}